@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <center>
        <img src="~/JoelHiltonHeadshot.jpg" />
    </center>
    <br />
    <div>
        <a asp-controller="Home" asp-action="Movies">Add a Movie</a>
    </div>
    <br />
    <div>
        <a asp-controller="Home" asp-action="MovieList">View Movies</a>
    </div>
</div>

